/* Temporary */

.construction {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 150px 20px;
}

.construction p {
	margin: 20px 0;
}


/************************************************************************************
 GENERAL
*************************************************************************************/


* {
	box-sizing: border-box;
}

/*  vystredeni textu na strance */
.middle-container {
	margin: 0 1.25rem;
}

html {
	font-size: 16px;
}

body {
	font-family: Arial, sans-serif;
	font-size: 0.9rem;
}

h2 {
	font-family: Georgia, serif;
	font-size: 1.25rem;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	color: RGB(38, 101, 148);
}

/* zvyrazneni duleziteho textu */
strong {
	font-weight: bold;
	color: RGB(36, 178, 230);
}

/* obecne odkazy v textu, sede, s podtrzenim */
a:link,
a:visited {
	color: RGB(120, 120, 120);
}
a:hover {
	text-decoration: none;
}

/* sticking footer */
.stick-foot {
	min-height: calc(100vh - 216.19px);
}

/************************************************************************************
 HEADER
*************************************************************************************/

/* <header> obsahuje:
	.theme-pic  /obrazek
	.top-banner  /bily pruh s logem a navigaci
		.logo  /logo s img a span
		<nav>  /navigace s ul a li
	.page-title  /modry pruh s nazvem stranky
		h1  /nazev
		ul,li  /jmena lekarek */

header {
	position: relative;
}

/* obrazek na vrchu stranky, vlozen jako background kvuli orezu */

.theme-pic {
	width: 100%;
	height: 17.5rem;
	background: url(../pic/health-pic.jpg) no-repeat center / cover;
}

.top-banner { /* pruh s logem a navigaci */
	width: 100%;
	background: rgba(255, 255, 255, 0.85);
	padding-top: 0.9375rem;
	position: absolute;
	top: 0;
	color: #235779;
	box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
}


/* ------------------ Logo ------------------ */

.logo img { /* logo obrazek */
	width: 2.5rem;
}

.logo span { /* logo text */
	font-size: 1.2rem;
	font-weight: bold;
	color: #235779;
	position: relative; /* umisteni vuci obrazku v logu */
	bottom: 0.8rem;
	left: 0.125px;
}


/* ------------------ Navigation ------------------ */

/* navigace pomoci inline-block/justify rozmistena po cele strankce */
nav {
	color: rgb(35, 87, 121);
	font-size: 0.8rem;
}

nav ul {
	text-align: justify; /* horizontalni distribuce mezi elementy */
	margin-top: 0.6rem;
	margin-bottom: -0.2rem;
}

nav li {
	display: inline-block;
}

nav ul:after {
	content: "";
	width: 100%;
	display: inline-block;
}

/* stylovani odkazu v navigaci */
nav a:link,
nav a:visited {
	text-decoration: none;
	color: rgb(0, 41, 96);
}
nav a:hover {
	color: rgb(0, 173, 239);
}

nav .active:link,
nav .active:visited,
nav .active:hover {
	color: rgb(0, 173, 239);
	font-weight: bold;
}



/* ------------------ Page title ------------------ */

.page-title {
	background-color: rgba(3, 43, 94, 0.85);
	width: 100%;
	position: absolute; /* pozicovani na dno obrazku */
	bottom: 0;
	text-align: center;
	padding: 0.5rem 0;
	color: rgb(255, 255, 255);
}

h1 {
	font-weight: bold;
	font-size: 1.2rem;
}

.page-title li {
	display: inline-block;
	margin: 10px 0 2px;
	padding: 0 10px;
	font-size: 0.7rem;
}

.page-title li:first-child {
	border-right: 1px solid rgb(255, 255, 255); /* oddelovac */
}

.page-title a:link,
.page-title a:visited,
.page-title a:hover {
	color: rgb(255, 255, 255);
	text-decoration: none;
}



/************************************************************************************
 MAIN CONTENT
*************************************************************************************/

h2 {
	margin-bottom: 0.8rem;
}

.welcome,
.business-hours {
	background-color: RGB(235, 245, 255); /* svetle modre pozadi */
}

.col,
.news {
	padding: 0.9375rem 0 0.9375rem;
	line-height: 1.3; /* rozestupy mezi jednotlivymi aktualitami */
}

p {
	margin-bottom: 0.3125rem;
}

/* ------------------ Generovani kapek ------------------ */

.drop-pic {
	width: 1.5625rem;
	height: 1.5625rem;
	border-radius: 50% 0 50% 50%;
	transform: rotate(270deg);
	position: absolute;
	top: -1px;
}

.news-1 .drop-pic,
.news-3 .drop-pic {
	transform: rotate(0deg);
	right: 0;
}


/* ------------------ Nastaveni rozdilne barvy u car s kapkami ------------------ */

.news-1,
.news-4 {
	border-top: 2px solid RGB(156, 209, 237);
}
.news-1 .drop-pic,
.news-4 .drop-pic {
	background-color: RGB(156, 209, 237);
}

.news-2 {
	border-top: 2px solid RGB(35, 87, 121);
}
.news-2 .drop-pic {
	background-color: RGB(35, 87, 121);
}

.news-3 {
	border-top: 2px solid RGB(155, 158, 153);
}
.news-3 .drop-pic {
	background-color: RGB(155, 158, 153);
}

/* ------------------ Odstavce ------------------ */

.news {
	position: relative;
}

.news p {
	position: relative;
	top: -0.3125rem;
}

.news-2 p,
.news-4 p {
	padding-left: 1.875rem;
}

.news-1 p,
.news-3 p {
	padding-right: 1.875rem;
}

.news-4 ul {
	padding-left: 1.875rem;
	white-space: nowrap;
}

/* odsazeni ordinacnich hodin v aktualitach */

.news-bus-hours li {
	margin-bottom: 0.5rem;
}


/* ------------------ Tabulka business hours ------------------ */

thead {
	text-align: left;
	font-weight: bold;
	color: RGB(48, 179, 228);
}

thead th {
	padding-bottom: 0.9375rem;
	padding-top: 1.25rem;
}

td {
	height: 1.5rem;
	width: 6rem;
}


/* ------------------ Tlacitko objednat ------------------ */

.button-objednat {
	background-color: RGB(29, 174, 236);
	width: 6rem;
	height: 2rem;
	text-align: center;
	color: rgb(255, 255, 255);
	font-weight: bold;
	border-radius: 0.25rem 0.25rem 0 0;
	padding-top: 0.45rem;
	transform: rotate(-90deg);
	position: absolute;
	right: -2rem;
	top: 50%;
}

.button {
	text-decoration: none;
}

.business-hours {
	position: relative;
}


/************************************************************************************
 IKONY NABIZIME
*************************************************************************************/

.service-nav {
	background-color: RGB(8, 78, 140);
	width: 100%;
	text-align: center;
	padding-bottom: 0.9375rem;
}

.service-nav a:link,
.service-nav a:visited {
		color: rgb(255, 255, 255);
		text-decoration: none;
		font-weight: bold;
}

.icon {
	width: 100%;
	max-width: 80px; /* maximalni velikost ikony */
	margin-bottom: 8px;
}

.caption {
	font-size: 0.8rem;
	font-size: 3.2vw; /* osetreni vystredeni titulku pri malem monitoru */
	line-height: 1.2;
}

.service-icon {
	float: left;	/* float po 3 ikonach */
	width: 25%;
	margin: 1.25rem 4.16666% 0;
}

.service-icon:nth-child(4) {
	margin-left: 20.5%;	/* vystredeni poslednich 2 ikon */
}


/************************************************************************************
 FOOTER (COPYRIGHT)
*************************************************************************************/

.copyright {
	background-color: RGB(3, 43, 94);
	width: 100%;
	padding: 0.75rem 0 0.5rem;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 0.7rem;
	letter-spacing: 0.04rem;
}

.copyright a:link,
.copyright a:visited {
	color: rgb(255, 255, 255);
	text-decoration: none;
}



/*******************************************************************
 PAGE O NAS
********************************************************************/
.zivotopis {
	margin-bottom: 1rem;
	margin-top: 2rem;
}
.tab-zivotopis {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 0.5rem;
}


.tab-zivotopis tr:nth-child(even) {
	background: rgb(235, 245, 255); /* vybarveni sudych radku */
}

.tab-zivotopis td {
	padding: 0.3rem;
}

.tab-zivotopis td:first-child {
	width: 40px;
}

.tab-zivotopis li {
	padding: 0.3rem 0.3rem 0.3rem 1.5rem;
	border-top: 1px solid rgb(235, 245, 255);
}

.zivotopis h2 {
	margin: 0 0 1rem;
}

.zivotopis p {
	padding-top: 0.3rem;
	padding-left: 0.3rem;
}

.line {
	background: rgb(204, 204, 204); /* delici cara */
	height: 1px;
	width: 100%;
	margin-top: 2.5rem;
}

.cv-list li {
	padding-left: 0;
}



/*******************************************************************
 PAGE KONTAKT
********************************************************************/

.map {
	margin: 1.25rem 0 -1rem;
	width: 100%;
	height: 15rem;
}

.contact-info h3 {
	font-weight: bolder;
	color: RGB(29, 174, 236);
	margin: 2rem 0 0.5rem;
}

.contact-info p {
	padding: 0.1rem 0;
}

.contact-info .bus {
	margin-top: 0.75rem;
	padding-top: 0.75rem;
	border-top: 1px solid rgb(204, 204, 204);
}

.contact-info a:link,
.contact-info a:visited {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
.contact-info a:hover {
	color: RGB(29, 174, 236);
}

.objednat {
	margin: 1.5rem 0 0 0;
	padding: 1.5rem 0;
	background-color: RGB(235, 245, 255);
	line-height: 1.2;
	clear: both;
}

.objednat .objednat-button {
	display: block;
	width: 100%;
	padding: 0.75rem;
	margin-top: 1.5rem;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 1rem;
	color: RGB(255, 255, 255);
	border-radius: 8px;
	border: 1px solid RGB(29, 174, 236);

	background-color: #49c0f0;
		background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
}

.objednat .objednat-button:hover {
	background-color: #1ab0ec;
		background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2)
}



/*******************************************************************
 PAGE CENIK
********************************************************************/

/* nastaveni okraju nahore a dole */
.cenik {
	padding: 1.5rem 0 2.5rem;
}

/* hlavni text o pojistovnach vyraznejsi (modry, zarovnany na stred) */
.cenik-text {
	color: RGB(29, 174, 236);
	font-weight: bolder;
	font-size: 1rem;
	text-align: center;
	margin-bottom: 2rem;
}

.cenik-text p {
	margin-bottom: 1rem;
}

/* design tabulky s nadstandardnimi sluzbami */
.tab-cenik {
	width: 100%;
	box-shadow: 0 0 8px rgba(200, 200, 200, 0.8);
	border-radius: 5px;
	line-height: 1.2;
}

.tab-cenik thead td {	/* hlavicka tabulky */
	background-color: RGB(29, 174, 236);
	color: rgb(255, 255, 255);
	border-radius: 5px 5px 0 0;
}

.tab-cenik td {
	padding: 0.5rem;
}

.tab-cenik tr:nth-child(even) { 	/* barevne odliseni jednotlivych radku */
	background-color: RGB(235, 245, 255);
}

.tab-cenik td:nth-child(n+2) { 	/* zarovnani ceny doprava */
	text-align: right;
}



/*******************************************************************
 PAGE FORMULAR
********************************************************************/

.formular {
	background-color: RGB(235, 245, 255);
	padding: 2rem 0 4rem;
}

.formular form {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.formular input,
.formular label,
.formular textarea {
	display: block;
	width: 100%;
	outline: none;
}

.formular .pole {
	height: 2.8rem;
	font-size: 1.2rem;
	border-radius: 5px;
	border: none;
	padding: 5px;
	box-shadow: inset 2px 2px 3px rgba(204, 204, 204, 0.8);
}

.formular .pole:focus {
	border: 3px solid rgba(29, 174, 236, 0.3);
}

.formular textarea.pole {
	height: 8.4rem;
	resize: none;

}

.formular label {
	font-size: 1.2rem;
	font-weight: bold;
	color: RGB(29, 174, 236);
	margin: 2rem 0 0.6rem;
}

.formular button {
	height: 2.6rem;
	width: 14rem;
	font-size: 1.2rem;
	margin: 3rem 0 0 0;
	font-weight: bold;
	color: RGB(255, 255, 255);
	border-radius: 8px;
	border: 1px solid RGB(29, 174, 236);
	background-color: #49c0f0;
	background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);
}

.formular button:hover {
	background-color: #1ab0ec;
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2)
}

.formular form p {
	font-size: 0.8rem;
	margin-top: 0.4rem;
	color: rgb(160, 160, 160);
}


/*******************************************************************
 NABIZENE SLUZBY
********************************************************************/
.icon-small {
	display: none;
}

.text h2 {
	margin-top: 2rem; 
}

.text h3 {
	font-weight: bold;
	color: RGB(38, 101, 148);
	margin: 1rem 0 0.5rem; 
}

.text h3 ~ p {
	padding-left: 1.1rem; 
}
.text .del-padding {
	padding-left: 0; 
}

.text .top-margin-up {
	margin-top: 1.5rem;
}

.text {
	padding-bottom: 2rem; 
	line-height: 1.2; 
}

.text p {
	margin: 0 0 0.4rem 0;
}

.text ol {
	margin-left: 2.2rem; 
}

.text ol li {
	list-style-type: decimal;
}



/*******************************************************************
 CLEARFIX
********************************************************************/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


/*******************************************************************
 MEDIA QUERIES
********************************************************************/

@media (max-width: 300px) {

	html {
		font-size: 12px;
	}

	body {

		min-width: 250px; /* zamezeni rozbiti layoutu pri miniaturnich monitorech */
	}
}

@media (min-width: 500px) {

	html {
		font-size: 19px;
	}
}

@media (min-width: 600px) {

	.middle-container { /* zvetseni okraju kolem obsahu */
		width: 85%;
		margin: 0 auto;
	}

	.theme-pic {
		height: 21.875rem; /* uprava vysky uvodniho obrazku */
	}

	/* ------------------------------------------------------------------------------------------------ */
	/* Hlavni navigace floatuje v pravo */

	nav {
		width: 50%;
		max-width: 19rem; /* uprava roztazeni navigace, aby nebyla rozplizla */
		position: absolute;
		top: 0.75rem;
		right: 7.5%;
	}

	.top-banner {
		height: 3.6rem;  /* vyska horniho banneru */
	}

	.caption {
		font-size: 0.8rem; /* oprava zvetsovani titulku pri vetsim monitoru */
	}

}

@media (min-width: 750px) {

	/* ------------------------------------------------------------------------------------------------ */
	/* Nadpis stranky, absolutni pozicovani */

	.page-title {
		text-align: left;
		height: 3.421rem; /* vyska nadpisoveho banneru */
	}

	.page-title h1 {
		text-align: left;
		position: absolute;
		left: 7.5%;
		bottom: 1.05rem; /* nadpis */
	}

	.page-title ul {
		position: absolute;
		right: 7.5%;
		bottom: 0.68rem; /* jmena lekarek */
	}

	.page-title ul li {
		display: block;
	}

	.page-title ul li:first-child { /* odstraneni oddelovace */
		border: none;
	}

	.zivotopis h2,
	.text h2 {
		text-align: left;
	}

	/* ------------------------------------------------------------------------------------------------ */
	/* Main content, 2 sloupce */

	/* floating do 2 sloupcu, uvitani a aktuality */
	.welcome {
		float: left;
		width: 30%;
		background-color: rgb(255, 255, 255); /* bile pozadi*/
		padding: 0 1rem 0 0;
		margin: 0.9375rem 0 0.9375rem 0;
	}

	.news-all {
		float: right;
		width: 70%;
		padding: 0 0 0 1rem;
		border-left: 1px solid RGB(204, 204, 204); /* oddelovaci cara */
		margin: 0.9375rem 0 0.9375rem 0;
	}

	.business-hours {
		clear: both;
	}

	/* opraveni zarovnani na strance */
	.two-col-container {
		width: 85%;
		margin: 0 auto;
	}

	.welcome .middle-container,
	.news-all .middle-container {
		margin: 0;
		width: 100%;
	}


	/* ------------------------------------------------------------------------------------------------ */
	/* Ikony se sluzbami - roztahnuti do jednoho pruhu */

	.service-icon {
		width: 15%;
		margin: 1.25rem 2.5% 0;
	}

	.service-icon:nth-child(4) {
		margin: 1.25rem 2.5% 0; 	/* korekce z layoutu o 3 ikonach */
	}

	.icon {
		max-width: 100px;
	}



	/* Ordinacni hodiny v ramci sekce do 2 sloupcu */
	.jana {
		float: left;
		width: 45%;
	}

	.jirina {
		float: right;
		width: 45%;
	}

	.den {
		width: 4.5rem;
	}

	/* ------------------------------------------------------------------------------------------------ */
	/* Objednat tlacitko repozicovani */

	.button-objednat {
		position: fixed;
		right: -2rem;
		top: 60%;
	}

	/* ------------------------------------------------------------------------------------------------ */
	/* Page Kontakt 2-columns layout */

	.g-map {
		float: left;
		width: 60%;
		padding-right: 1rem;
		padding-top: 0;
		margin-bottom: 2rem;
	}

	.contact-info {
		float: right;
		width: 40%;
		padding-left: 1rem;
		padding-top: 0;
	}

	.map {
		height: 20.5rem;
	}

	.objednat .objednat-button {
		width: 65%;
		margin: 0 auto;
		margin-top: 1.5rem;
	}

	/* ------------------------------------------------------------------------------------------------ */
	/* Page Cenik aby nebylo tak roztahle */

	.cenik-text {
		text-align: left;
		margin-bottom: 3rem;

	}

	.tab-cenik {
		max-width: 35rem;
		margin: 0 auto;
	}

	/* ------------------------------------------------------------------------------------------------ */
	/* Page Formular aby nebylo tak roztahle */

	.formular form {
		width: 60%;
		max-width: 35rem;
	}

	.page-title #formular-heading {
		text-align: center;
	}

	.page-title .center-header {
		text-align: center;
	}
}

@media (min-width: 900px) {

	/* uprava velikosti fontu top banneru */
	.logo img { /* logo obrazek */
		width: 3rem;
	}

	.logo span { /* logo text */
	font-size: 1.5rem;
	}

	nav {
		font-size: 0.9rem;
		top: 1rem;
	}

	.top-banner {
		height: 4rem;
	}

	/* spodniho banneru a uprava velikosti fontu podnadpisu */
	.page-title h1 {
		font-size: 1.4rem;
		bottom: 1rem;
	}

	.page-title li {
		font-size: 0.8rem;
	}

	.page-title ul {
		bottom: 0.5rem;
	}
}

@media (min-width: 1100px) and (max-width: 1200px) {
	.business-hours table td { /* uprava rozprostreni textu v tabulce v prechodne velikosti monitoru */
		font-size: 0.82rem;
	}
}

@media (min-width: 1100px) {

	/* ------------------------------------------------------------------------------------------------ */
	/* Uprava headeru */

	.theme-pic {
		height: 24rem;
	}


	/* ------------------------------------------------------------------------------------------------ */
	/* 3 column layout */

	.col {
		float: left;
	}

	.welcome {
		width: 20%;  /* float do 3 sloupcu */
	}

	/* nastaveni sirky sloupcu, okraju a ohraniceni */
	.news-all {
		width: 50%;
		padding-right: 1rem;
		border-right: 1px solid	rgb(204, 204, 204);
	}

	.business-hours {
		clear: none;
		padding-left: 1rem;
		background-color: rgb(255, 255, 255);
		width: 30%;
		white-space: nowrap;
	}

	.business-hours table { /* zruseni sloupcu u business hours */
		float: none;
		width: 100%;
	}

	.two-col-container { /* zruseni vystredeni 2-col layoutu */
		width: 100%;
		margin: 0;
	}

	h2 {
		text-align: left; /* zarovnani nadpisu doleva */
	}

	.three-col-container { /* vystredeni 3-col layoutu */
		width: 85%;
		margin: 0 auto;
	}

	.business-hours h2 {
		margin-bottom: -0.4rem; /* zarovnani prvniho radku tabulky s ostatnim contentem */
	}

	.zivotopis {
		width: 50%;
	}

	.line {
		display: none;
	}

	.zivotopis-jana {
		padding-right: 1.5rem;
	}

	.zivotopis-jirina {
		padding-left: 1.5rem;
		border-left: 1px solid rgb(204, 204, 204);
	}
}

@media (min-width: 1400px) {

	body {
		max-width: 1400px;
		margin: 0 auto;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.2);
	}

	/* tlacitko objednat */
	.button-objednat {
		position: relative;
		top: -180px;
		right: -368px;
	}


}




